*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.title{
    text-align: center;
    box-shadow: rgba(0,0,0,24) 0px 3px 8px;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
}
.title>img{
    height: 100px;
    padding: 20px;
    border-radius: 100%;
    border: 5px solid rgb(77, 124, 124);
    transition: all 2s;
    animation: rotateImg infinite 10s;
    box-shadow: rgba(0,0,0,24) 0px 3px 8px;
}
@keyframes rotateImg {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.title>h1{
    color: rgb(77, 124, 124)yan;
    font-size: 30px;
}
.container{
    box-shadow: rgba(0,0,0,24) 0px 3px 8px;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.container>.item{
    flex: 1;
}
.container select, .container input{
    padding: 10px 20px;
    border: 1px solid #dedede;
    font-size: 16px;
    background: rgb(77, 124, 124);
    color: #fff;
    border-radius: 5px;
}
.swap-rate> button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: gray;
    transition: all 0.5s;
}
.swap-rate>div{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: gray;
    transition: all 0.5s;
}
.swap-rate>button:hover{
    background-color: rgb(77, 124, 124);
    color: #fff;
    font-weight: bold;
}
.swap-rate>button, .container select{
    cursor: pointer;
}
.item{
    background-color: lightgray;
}